.border {
  border: 1px solid #333;
  outline: 0;
}

.label {
  padding: 0 3px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  border-color: black;
  border-width: 2px 0 2px 2px;
  border-style: solid;

  &:last-child {
    border-width: 2px;
  }
}

.labelChecked {
  @extend .label;
  background-color: #333;
  color: white;
  box-sizing: border-box;
}

.checkbox {
  display: none;
}

.checkboxChecked {
  display: none;
}

.textFieldContainer {
  display: flex;
  flex-direction: column;
}

.textInput {
  @extend .border;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 0;
  padding: 8px 12px;
  height: 39px;
}

.text {
  font-family: "Avenir Next Regular"
}

.radioContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.error {
  color: red;
}
